<html>
<head>
    <title>Playground</title>
    <link rel="stylesheet" href="../bower_components/material-design-lite/material.min.css">
</head>
<body ng-app="app" style="padding: 50px;box-sizing:border-box;">
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/material-design-lite/material.min.js"></script>
<script src="../dist/angular-material-design-lite.min.js"></script>
<script>
    var app = angular.module('app', ['mdl']);
    app.config(function (mdlConfigProvider){
        "use strict";

        // mdlConfigProvider.floating = false;
        // mdlConfigProvider.rippleEffect = false;
    });</script>

<mdl-text-field label="First Name" ng-model="first_name"></mdl-text-field>
<br><br>
<mdl-text-field label="First Name" ng-model="first_name"></mdl-text-field>
<br><br>
<mdl-checkbox label="Urgent package" ng-model="is_urgent"></mdl-checkbox>
<br><br>
<mdl-radio label="Male" value="male" ng-model="gender"></mdl-radio>
<br><br>
<mdl-radio label="Female" value="female" ng-model="gender"></mdl-radio>
<br><br>

<label>
    <input type="checkbox" ng-model="show_notifications" /> Show Notifications<br><br>
</label>

<mdl-switch label="Notifications" ng-model="show_notifications"></mdl-switch>
<br><br>

<mdl-button>Hello!</mdl-button>
<mdl-button theme="primary">Hello!</mdl-button>
<mdl-button theme="accent">Hello!</mdl-button>
<br>
<br>
<mdl-button-raised>Hello!</mdl-button-raised>
<mdl-button-raised theme="primary" ng-click="show = true">Show next button with mdl-upgrade!</mdl-button-raised>
<mdl-button-raised theme="accent" mdl-upgrade ng-if="!!show">Component registered using mdl-upgrade!</mdl-button-raised>
<br>
<br>

<div>
    <mdl-text-field label="Dynamic Progress bar" ng-model="progress"></mdl-text-field><br>
    <br>
    <mdl-progress progress="{{progress}}"></mdl-progress>
    <br>
    <mdl-progress progress="20"></mdl-progress>
</div>

<br>
<br>
<mdl-text-area label="Textarea!"></mdl-text-area>

<br>
<br>
<mdl-spinner></mdl-spinner>
<br>
<br>
<mdl-spinner single-color="true"></mdl-spinner>
<br><br>
<mdl-navigation-layout class="class list" 
    mdl-header-title="'Header Title'" 
    mdl-header-items="[{'text':'Lorem',href:'#/lorem'}, {'text':'Ipsum',href:'#/ipsum'}]" 
    mdl-menu-title="'Menu Title'" 
    mdl-menu-items="[{'text':'Item 1',href:'#/a'}, {'text':'Item 2',href:'#/b'}]" 
    fixed-drawer="true"
    fixed-header="true">
</mdl-layout>
</body>
</html>
